<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改客户(企业，组织或个人)')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-customer-edit" th:object="${customer}">
            <input name="cid" th:field="*{cid}" type="hidden">
            <div class="form-group">    
     <!--           <label class="col-sm-3 control-label">用户ID：</label>
                <div class="col-sm-8">
                    <input name="uid" th:field="*{uid}" class="form-control" type="text">
                </div>-->
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="name" th:field="*{name}" class="form-control" type="text" isName="true">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">国家：</label>
                <div class="col-sm-8">
                    <input name="country" th:field="*{country}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户地址：</label>
                <div class="col-sm-8">
                    <input name="address" th:field="*{address}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">url：</label>
                <div class="col-sm-8">
                    <input name="url" th:field="*{url}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">电子邮箱：</label>
                <div class="col-sm-8">
                    <input name="email" th:field="*{email}" class="form-control" type="text" email="true">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">电话：</label>
                <div class="col-sm-8">
                    <input name="phone" th:field="*{phone}" class="form-control" type="text" isTel="true">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">传真：</label>
                <div class="col-sm-8">
                    <input name="fax" th:field="*{fax}" class="form-control" type="text" number="true" digits="true" maxlength="11">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">其它联系方式：</label>
                <div class="col-sm-8">
                    <input name="other" th:field="*{other}" class="form-control" type="text" isPhone="true">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">行业：</label>
                <div class="col-sm-8">
                    <input name="industry" th:field="*{industry}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">年营业额：</label>
                <div class="col-sm-8">
                    <input name="annualRevenue" th:field="*{annualRevenue}" class="form-control" type="text" number="true" digits="true">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">开户银行：</label>
                <div class="col-sm-8">
                    <input name="bankOfDeposit" th:field="*{bankOfDeposit}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">银行帐号：</label>
                <div class="col-sm-8">
                    <input name="bankAccount" th:field="*{bankAccount}" class="form-control" type="text" number="true" rangelength="[11,20]">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最近跟进时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="lastTime" th:value="${#dates.format(customer.lastTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "crm/customer";
        $("#form-customer-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-customer-edit').serialize());
            }
        }

        $("input[name='lastTime']").datetimepicker({
            minView: 0,
            format: "yyyy-mm-dd hh:ii:ss",
            autoclose: true
        });
    </script>
</body>
</html>