<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <style>
        body {
            background-image: url("../../static/img/index.jpeg" );
        }
        p {
            display: block;
            padding: 200px;
            color:red;
            font-size: 20px;
        }

    </style>
</head>
<body>
<h1 style="text-align: center ;margin: 25px">前言</h1>
<p>
    那些口口声声，JAVA越来越难学的人，应该看着你们，像我一样。我看着你们，满怀羡慕。人类研究了几十年的代码调优，所有的Exception和Error，像是专门为你们准备的礼物。Spring繁荣、中间件繁茂、数据库繁华，现代Java的成果被层层打开，可以尽情地享用。自由学习一门框架，学习一种中间件，欣赏一部（培训班）教学视频，去遥远的地方提issue。很多人，从小你们就在自由探索自己的兴趣，很多人在入行就成为了Spring Collaborator，不惑于自己喜欢什么，不喜欢什么。人与人之间的壁垒被打破。你们只凭相同的引入依赖，就能安装千万个相同的Jar包。你们拥有了我们曾经梦寐以求的权利，自由引入Jar包的权利。你所热爱的，就是你的996！你们有幸遇见这样的Java，但是Java更有幸遇见这样的你们。我看着你们，满怀敬意，向你们的专业态度致敬！你们正在把面向过程的变成面向对象的，把一体的变成分布式的，把的单个的变成集群的，把私有的变成开源的。你们把自己的热爱，变成了一个和成千上万的人分享Java写法的事业，向你们的自信致敬！弱小的人，才害怕新的框架和版本。内心强大的人，从不畏惧高可用与高并发。向你们的大气致敬！小白同而不和，大神美美与共，和而不同。更年轻的身体，容得下更多元的代码风格、编程范式和技术栈。有一天我终于发现，不只是我们在教你们如何提高代码效率，你们也在启发我们怎样去更好地摸鱼。那些抱怨一代不如一代的人，应该看看你们，就像我一样。我看着你们，满怀感激。
</p>

</body>
</html>